#parse ("templates/velocity/global_helpers.vm")
<html>
<head>
    <title>Conditional diamond graph</title>
    #renderRequiredMetaTags()
    #renderConsoleLogger()
    #requireWebResourceForRequire("com.atlassian.plugins.atlassian-plugins-webresource-tests:wrm-conditional-diamond-left")
    #requireWebResourceForDefer("com.atlassian.plugins.atlassian-plugins-webresource-tests:wrm-conditional-diamond-wedge-1")
    #requireWebResourceForInteraction("com.atlassian.plugins.atlassian-plugins-webresource-tests:wrm-conditional-diamond-right")
    #renderRequiredResources()
</head>
<body>
    <h2>Did the dependents in the diamond load correctly given the conditions?</h2>
</body>
</html>
