#parse ("templates/velocity/global_helpers.vm")
<html lang="en">
    <head>
        <title>Client-side WRM.require</title>
        #renderRequiredMetaTags()
        #renderConsoleLogger()
        #requireWebResourceForRequire("com.atlassian.plugins.atlassian-plugins-webresource-tests:test-resources-after-wrm-require")
        #renderRequiredResources()
    </head>
    <body>
        <h2>WRM resources were loaded?</h2>
    </body>
</html>
